[main]
workdir = /home/lairdm/islandviewer/workdir/
custom_genomes = /home/lairdm/islandviewer/custom_genomes
analysis_directory=/home/lairdm/islandviewer/analysis
component_runner=/home/lairdm/islandviewer/bin/run_module.pl
islandviewer_home=/home/lairdm/islandviewer/

# Sets all log files
logger_conf = ../etc/logger.conf
analysis_log = /home/lairdm/islandviewer/logs/analysis.log
submit_log = /home/lairdm/islandviewer/logs/submit.log

# Various modules
expected_exts=".gbk .fna .faa .ffn .ptt .embl"
default_scheduler = Islandviwer::MetaScheduler
save_failed = 1
clean_tmpfiles = 1

# Prepare
contig_mover_cmd = "-Xmx500m -Djava.awt.headless=true -cp /home/lairdm/islandviewer/utils/mauve_snapshot_2015-02-13/Mauve.jar org.gel.mauve.contigs.ContigOrderer -output %s -ref %s -draft %s"
mauve_dir = "/home/lairdm/islandviewer/utils/mauve_snapshot_2015-02-13/"

# Distance module
dist_table = iv4_distance
mash_cmd = "/home/lairdm/islandviewer/utils/mash-Linux64-v1.1.1/mash"
mash_sketch = "/home/lairdm/islandviewer/etc/mash_sketch_10000.msh"

# IslandPick?
mauve_cmd = "/home/lairdm/islandviewer/utils/mauve_snapshot_2015-02-13/linux-x64/mauveAligner"

ip_blastprog = blastn
ip_e_cutoff = 1
blastdir = /usr/local/pkg/blast-2.2.26
formatdb = /usr/local/pkg/blast-2.2.26/bin/formatdb

# SIGI
sigi_cmd="/home/lairdm/islandviewer/utils/Colombo_3.8/SigiHMM"
sigi_path="/home/lairdm/islandviewer/utils/Colombo_3.8/"
java_bin="/usr/bin/java"

# IslandPath-DIMOB
hmmer_cmd = /home/lairdm/islandviewer/utils/hmmer-3.1b1-linux-intel-x86_64/binaries/hmmscan
hmmer_db = /home/lairdm/islandviewer/etc/Pfam-A_mobgenes_201512_prok
hmmer_evalue = 0.0000001

# IslandViewer database
dsn=DBI:mysql:database=islandviewer;host=localhost
dbuser=user
dbpass=password

# Sets microbedb database name and config file containing host and user credentials
microbedb=microbedbv2_dev
microbedb_config=/home/lairdm/islandviewer/etc/microbedb.config

# Zookeeper
zookeeper=localhost:7000
zk_analysis="/islandviewer/analysis"
zk_analysis_timer=1800
zk_timer=360

qsub_cmd = "/home/lairdm/metascheduler/bin/qsub.pl"

base_url = "http://www.brinkman.mbb.sfu.ca/islandviewer/"
email_sender = "islandpick-mail@sfu.ca"

MAX_CUTOFF=0.215
MIN_CUTOFF=0.00
MIN_COMPARE_CUTOFF = 3
MAX_COMPARE_CUTOFF = 6
MAX_DIST_SINGLE_CUTOFF = 0.14
MIN_DIST_SINGLE_CUTOFF = 0.17
MIN_GI_SIZE = 8000
mauve_island_size = 4000
